{% extends 'base.html' %}

{% block content %}
<div class="container-center">
    <div class="header">Welcome to EasyRail!</div>
    <div class="content">
        <button class="btn">Book Ticket</button><br><br>
        Plan Your Next Journey with Ease ! Find the Perfect Train and Book Your Tickets ! <br><br>
        <li><span class="blue-mid">EasyRail is your one-stop solution for hassle-free railway ticket booking. Whether you're a frequent traveler or planning a special trip, we've got you covered. Get started in three simple steps:</span></li>

        <ol>
            <li>
                Search Trains: <br>
                <span class="blue-mid">Enter your departure and destination stations along with the date of travel. Explore a wide range of train options to choose from.</span>
            </li><br>
            <li>
                Select Your Train: <br>
                <span class="blue-mid">Browse through the available trains, check the schedule, and pick the one that best suits your travel plans.</span>
            </li><br>
            <li>
                Book Your Tickets: <br>
                <span class="blue-mid">Secure your seats in a few clicks. Our easy-to-use booking form ensures a smooth and seamless experience.</span>
            </li>
        </ol>
        <br>
        <br>
        <h3 class="blue-mid"><li>Why Choose EasyRail?</li></h3>
        - Fast and Secure Booking Process <br>
        - Best Deals and Offers <br>
        - User-Friendly Interface <br>
        - Real-time Train Schedule Updates <br>
        - 24/7 Customer Support <br>
        <br>
        
    </div>
</div>
{% endblock content %}